* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-tertiary);
    --overflow: hidden;
}

ion-button.camaraL {
    display: block;
    height: 40%;
    text-transform: initial;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 4%;
    margin-top: 4%;
    font-size: 2rem;
    font-weight: 600;


    //--background: var(--ion-color-light);
    --background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/sillon.jpg) no-repeat center center / cover;
    --box-shadow: none;

    border: 3px solid var(--ion-color-primary);
    border-radius: 5px;
}

ion-button.camaraF {
    display: block;
    height: 40%;
    text-transform: initial;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 4%;
    margin-top: 4%;
    font-weight: 600;
    font-size: 2rem;

    //--background: var(--ion-color-light);
    --background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/humedades.jpg) no-repeat center center / cover;
    --box-shadow: none;

    border: 3px solid var(--ion-color-primary);
    border-radius: 5px;
}

div.menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff00;
}
