<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>

    <ion-list *ngIf="this.loaded">
      <ion-card *ngFor="let imagen of this.fotos" 
      [ngStyle]="{'box-shadow': imagen.tipo ? '0px 2px 5px rgba(0, 255, 0, 0.2)' : '0px 2px 5px rgba(255, 0, 0, 0.2)'}">
        
        <ion-card-header>
          <ion-card-title>{{ imagen.usuario }} compartió cosa {{ imagen.tipo_texto }} del edificio:</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Publicado el  {{ imagen.fecha }}
        </ion-card-content>

        <img src="{{ imagen.imagen }}" />

        <ion-button fill="clear" aria-label="voto" (click)="this.onVotar(imagen)">
          <div *ngIf="imagen.votantes.includes(this.auth.id) == true, then votado else noVotado"></div>
            <ng-template #votado><ion-icon aria-hidden="true" name="star" size="large"></ion-icon></ng-template>
            <ng-template #noVotado><ion-icon aria-hidden="true" name="star-outline" size="large"></ion-icon></ng-template>
          <ion-label style="padding-left: 0.5rem;">{{ imagen.votos }} votos</ion-label>
        </ion-button>
        
      </ion-card>
    </ion-list>
    <ion-list *ngIf="!this.loaded">
      <ion-card *ngFor="let skeleton of this.placeholderArray">
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle> 
            <ion-skeleton-text [animated]="true" style="width: 35%;"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 380px; height: 190px;"></ion-skeleton-text>
        <ion-card-content>
          <ion-skeleton-text class="button" [animated]="true"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
