ion-content {
  --background: var(--ion-color-tertiary);
}

ion-skeleton-text.button {
  width: 30%;
  --background: rgba(255, 145, 0, 0.952);
  --background-rgb: 255,145,0;
}

ion-list {
  background-color: #ffffff00;
}