* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: url(../../assets/edif.jpg);
    --overflow: hidden;
}

ion-input {
    bottom: 1rem;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--ion-color-medium);
    --background: #ffffff;
    font-family: Verdana;
}

ion-button {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    --box-shadow: none;
    height: 60px;
    font-size: 1.2rem;
    text-transform: initial;
    font-family: Verdana;
}

ion-select {
    bottom: -1rem;
    font-size: 17px;
    font-weight: 600;
    color: var(--ion-color-medium);
    --background: #ffffff;
    font-family: Verdana;
}

form {
    margin-top: 3rem;
}

div.login {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffffea;
}

h1 {
    margin-top: 15%;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    font-family: Verdana;
}

h2 {
    margin-left: 10px;
    font-family: Verdana;
}

h3 {
    color: var(--ion-color-secondary);
    margin-left: 10px;
    font-weight: 600;
    font-family: Verdana;
}

p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--ion-color-tertiary);
    color: var(--ion-color-secondary);
    line-height: 0.1em;
    margin: 10px 0 27px;
    font-size: 14px;
    span {
        background: var(--ion-color-light);
        padding:0 10px;
    }
}