<ion-toolbar color="primary">

  <ion-button class="logout" aria-label="Logout" (click)="this.cerrarSesion()">
    <ion-icon aria-hidden="true" name="log-out-outline" size="large"></ion-icon>
    <span>Cerrar Sesión</span> 
  </ion-button>

</ion-toolbar>
<ion-content [fullscreen]="true">
  <div class="menu">
    
    <ion-button class="camara" (click)="botonPresionado()">Cosas lindas</ion-button>

    <textarea name="console" id="console" style="width: 100%; height: 50%;"></textarea>
  </div>
</ion-content>


